.button_back {
	button {
		padding: 0px 17px;
		background-color: var(--bg-header-color);
		box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
		line-height: 2.5;
		border-radius: 12px;
		border: none;
		display: flex;
		-webkit-box-align: center;
		align-items: center;
		gap: 0.75rem;
		color: var(--color-text);
		cursor: pointer;
	}
}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	.main__image_block {
		max-width: 50%;
		margin-right: 50px;
	}

	.main__info_block {
		h3 {
			font-size: var(--font-size-l);
			color: var(--color-text);
			padding-bottom: 20px;
		}
		span {
			font-weight: 600;
			color: var(--color-text);
		}
		li {
			color: var(--color-text);
			padding: 5px;
		}
	}
}
